@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
    padding: 96px 0;
}
a {
  display: inline;
  text-decoration: none;
}
nav {
  padding-top: 32px;
  display: flex;
}
h1 {
    font-size: 36px; 
    color: #1a202c;
    line-height: 1.25;
}
.purple {
    color: #6415ff;
}
.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}
.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}
.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
}
.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  opacity: 0;
}
.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}
.nav__link--primary:hover {
  background-color: rgba(80, 17, 204);
  color: white;
}

.login {
  margin-left: 48px;
}

section {
  padding: 0 32px;
}
.header {
    position: absolute;
}
.header__description {
    width: 40%;
}
header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}